@model ProjectFormViewModel

<form method="post" enctype="multipart/form-data">
    <div class="field-title offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 offset-sm-0 col-sm-12 offset-md-0 col-md-12">
        <div class="col-12" style="background-color: lightskyblue; border-radius: 5px;">
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.ProjectId"></label>
                <input asp-for="@Model.ProjectId" class="form-control col-2" />
            </div>
            <div class="form-group" style="margin-bottom: 0; margin-top: 5px; text-align:start">
                <label class="small-text-bold" asp-for="@Model.Investor"></label>
                <input asp-for="@Model.Investor" class="form-control" />
            </div>
            <div class="form-group" style="text-align:end">
                <input asp-controller="Projects" asp-action="Edit" type="submit" class="btn btn-primary " value="Edit" style="margin-bottom: 15px; margin-top: 15px;">
                <input asp-controller="Projects" asp-action="Remove" type="submit" class="btn btn-primary " value="Remove" style="margin-bottom: 15px; margin-top: 15px;">
            </div>
        </div>
    </div>    
</form>