<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .field-title {
        font-size: larger;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
    }

    .small-text-normal {
        text-decoration: none;
        font-size: medium;
        font-weight: normal
    }

    .small-text-bold {
        text-decoration: underline;
        font-size: medium;
        font-weight: bold
    }

    .small-text {
        font-size: medium;
    }
</style>
<div class="row">
    <p class="field-title offset-lg-3 offset-md-2 offset-sm-2 offset-1 col-lg-6 col-md-8 col-sm-8 col-10" style="background-color: lightblue; border-radius: 15px;">Жилищна сграда</p>
</div>

<div class="row">
    <div class="field-title offset-lg-2 offset-md-1 offset-sm-1 offset-0 col-lg-8 col-md-10 col-sm-10 col-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-5" style="width: 90%; background-color: lightblue; border-radius: 15px; padding-left: 15px; left:5%">
                <div>Team</div>
                <div class="row small-text-bold" style="margin-left: 0px; text-decoration: none">Investor :</div>
                <div class="row small-text-normal" style="margin-left: 15px; margin-right: 0px;">Viktor Velichkov</div>
                <div class="row small-text-bold" style="margin-left: 0px; text-decoration: none">Manager :</div>
                <div class="row small-text-normal" style="margin-left: 15px; margin-right: 0px;">Viktor Velichkov</div>
                <div class="row small-text-bold" style="margin-left: 0px; text-decoration: none">Designers :</div>
                <div class="row small-text-normal" style="margin-left: 15px; text-decoration: none">• Architect :</div>
                <div class="row small-text-normal" style="margin-left: 30px; margin-right: 0px;">Viktor Velichkov</div>
                <div class="row small-text-normal" style="margin-left: 15px; text-decoration: none">• Structural Engineer :</div>
                <div class="row small-text-normal" style="margin-left: 30px; margin-right: 0px;">Viktor Velichkov</div>
            </div>
            <div class="col-2"></div>
            <div class="col-5" style="width: 90%; background-color: lightblue; border-radius: 15px; padding-left: 15px; right: 5%;">
                <div>Team</div>
                <div class="row small-text-bold" style="margin-left: 0px; text-decoration: none">Investor :</div>
                <div class="row small-text-normal" style="margin-left: 15px; margin-right: 0px;">Viktor Velichkov</div>
                <div class="row small-text-bold" style="margin-left: 0px; text-decoration: none">Investor :</div>
                <div class="row small-text-normal" style="margin-left: 15px; margin-right: 0px;">Viktor Velichkov</div>
            </div>

        </div>
    </div>
</div>



