@model IndexPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ProjectHub!</h1><br />
    <h5>You are an INVESTOR and you are looking for the best team of managers, designers and contractors for your project?</h5><br />
    <h5>You are a MANAGER and you want to manage really cool projects?</h5><br />
    <h5>You are a DESIGNER and you want to develop and be able to show your skills in a real project?</h5><br />
    <h5>You are a CONTRACTOR and you want to challenge yourself with an interesting buildings and installations?</h5><br />
    <h5><a asp-controller="Account" asp-action="Register">Register</a> and become part of ProjectHub. If you are already a member, please <a asp-controller="Account" asp-action="Login">Login</a>.</h5>
</div>


