@model Tuple<List<ProjectListingViewModel>, string>

@{ 
    Layout = "";
}
<div role="tabpanel" class="tab-pane active" id="projects">
    @{
        if (!Model.Item1.Any())
        {
            <h6 style="margin-top:15px">There is not any project assosciated with this @Model.Item2.</h6>
        }
        else
        {
            <div class="container-fluid">
                <partial name="~/Views/Projects/List.cshtml" model="@Model.Item1" />
            </div>
        }
    }
</div>
