@model Tuple<List<ReviewListingViewModel>, UserReviewsListViewModel>

@{
    Layout = "";
}
<div role="tabpanel" class="tab-pane active" id="projects">
    <div class="js-reviews-container">
        @{
            if (!Model.Item1.Any())
            {
                <h6 style="margin-top:15px">There are not any reviews for this @Model.Item2.UserKind.ToLower() yet.</h6>
            }
            else
            {
                <div class="container-fluid" style="padding-left:0px; padding-right:0px;">
                    <partial name="~/Views/Reviews/List.cshtml" model="@Model.Item1" />
                </div>
            }
        }
    </div>
    @if (!Model.Item2.IsLoggedUser)
    {
        <input method="get" data-action="Add" type="button" class="btn btn-primary js-review-add" value="Add Review" style="margin-top: 10px;
                                                                                                                        margin-right: 0px;
                                                                                                                        margin-left: 0%;">
    }

</div>
<script>
    $('.js-review-add').on('click', function () {

        $(this).attr("type","hidden");

        var recipientId =@Model.Item2.Id;

        var action = $(this).attr('data-action');

        $.get('/Reviews/' + action, { recipientId:recipientId},
            function (data) {
                console.log(data);
                $('.js-reviews-container').append(data);
            });
    });
</script>





